@import url(https://fonts.googleapis.com/css?family=Numans);

body {
	width: 90%;
	max-width: 40em;
	max-height:80em;
	margin: 1em auto;
	line-height: 2.0;
	font-family: 'Numans', sans-serif;
	background-color:white;

} 

h1,h3{
	color:black;
}

li {
	color:black;
	list-style:square;
}

a {
	padding:10px;
	color:black;
	border-bottom:5px dashed;
	text-decoration: none;
 	
}

a#normallink {
	padding:10px;
	color:black;
	border-bottom:5px dotted;
	text-decoration: none;
}

a:hover {
	border-bottom:5px solid;
}

a#normallink:hover {
	border-bottom:5px solid;
}

::selection {
	background-color:black;
	color:gray;
}
