@import url(https://fonts.googleapis.com/css?family=Numans);

body {
	margin:0px;
}

h1,h3{
	color:black;
}

li {
	color:black;
	list-style:square;
}

a {
	padding:10px;
	color:black;
	border-bottom:5px dashed;
	text-decoration: none;
 	
}

a#normallink {
	padding:5px;
	color:black;
	border-bottom:5px dashed;
	text-decoration: none;
}

a:hover {
	border-bottom:5px solid;
}

a#normallink:hover {
	border-bottom:5px solid;
}

::selection {
	background-color:black;
	color:gray;
}

.header {
	background-color:black;
	border:black;
	color:white;
	font-size:50px;
	padding:50px;
}

.header a {
	padding:10px;
	color:white;
	border-bottom:5px dashed;
	text-decoration:none;
}

.header span {
	background-color:white;
	color:black;
	font-size:20px;
	padding-top:20px;
	padding-left:90px;
	padding-right:8px;
}

.header a:hover {
	border-bottom:5px solid;

}

.content {
	font-family: 'Numans', sans-serif;
	background-color:white;
	font-size:20px;
	width:50%;
	margin:auto;
	height:500px;
}

.profile li{
	margin:auto;
	text-align:left;
}

.icon {
	position:fixed;
	right:0;
	top:0;
	width:10%;
	border:7px yellow dashed;
}

.links {
	bottom:0px;
	padding:20px;
	background-color:#E6E6E6;
}

.links li {
	padding:10px;
}